@use 'sass:math';
@use './_vars' as *;
@forward '../../node_modules/include-media/dist/_include-media';

@mixin link {
  color: $color-1;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
  }
}

@mixin header {
  font-size: 20px;
  font-weight: 500;
}

@mixin loader($borderWidth, $size, $color) {
  &:after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
    border-top: $borderWidth solid rgba($color, 0.2);
    border-right: $borderWidth solid rgba($color, 0.2);
    border-bottom: $borderWidth solid rgba($color, 0.2);
    border-left: $borderWidth solid $color;
    width: $size;
    height: $size;
    margin-left: math.div(-$size, 2);
    margin-top: math.div(-$size, 2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
