@forward '../../node_modules/reset-css/sass/reset';
@forward '../../node_modules/react-image-gallery/styles/scss/image-gallery';
@use './vars' as *;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  background: $background-1;
  color: $color-1;
  font-family: $font-family;
  font-size: $font-size-15;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}

a {
  text-decoration: none;
}

input {
   &::placeholder {
    color: $color-2;
    opacity: 0.8;
   }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 125, 0.2);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(115, 115, 125, 0.3);
}