@use 'sass:color';
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 15px;
  color: $white;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
  position: relative;
  line-height: normal;
  margin-left: auto;

  &.color-red {
    background-color: $red;
    border: 1px solid darken($red, 5%);

    &:hover {
      background-color: darken($red, 4%);
    }
  }

  &.color-blue {
    background-color: $blue;
    border: 1px solid darken($blue, 5%);

    &:hover {
      background-color: darken($blue, 2%);
    }
  }

  &.disabled {
    pointer-events: none;
    color: $background-1;
  }

  &.loading {
    .text {
      opacity: 0;
    }
  }
}

.buttons {
  margin-right: -5px;

  & > * {
    margin-right: 5px;
  }
}
