@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.field {
  &.disabled {
    opacity: 0.5;
  }

  .label {
    color: $color-2;
    font-size: $font-size-14;
    margin-bottom: 6px;
    display: block;
    user-select: none;
  }

  .input {
    display: block;
    padding: 8px;
    font-family: $font-family;
    box-shadow: 0 0 0 0.3px $border-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-1;
    color: $color-1;
    outline: none;
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 0.3px $blue;
      border-color: $blue;
    }

    &.invalid {
      border-color: $red;

      &:focus {
        box-shadow: 0 0 0 0.3px $blue;
        border-color: $blue;
      }
    }
  }

  .error {
    margin-top: 5px;
    color: $red;
    user-select: none;
  }
}