@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.alert {
  position: fixed;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  padding: 8px 16px;
  border-radius: $border-radius;
  z-index: 1000;
  background-color: rgba($color-1, 0.8);
  backdrop-filter: blur(8px);
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition:
    transform 0.1s ,
    opacity 0.1s ease-out;
  max-width: 90%;
  width: auto;

  &.hidden {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }
}

.icon {
  flex-shrink: 0;
  margin-top: 2px;
}

.content {
  flex: 1;
}