@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.filter {
  margin-bottom: 10px;
}

.ideas {
  .idea {
    color: $color-2;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 10px;

    & + .idea {
      margin-top: 10px;
    }

    .ideaLink {
      @include link;
    }

    &:hover {
      background-color: $background-2;
    }
  }

  .more {
    margin-top: 15px;
  }
}
