@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.segment {
  h1.title {
    @include header;
  }

  h2.title {
    @include header;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }

  & + .segment {
    margin-top: 40px;
  }
}
